aniso8601==3.0.2
atomicwrites==1.2.1
attrs==18.2.0
certifi==2018.8.24
chardet==3.0.4
Click==7.0
coverage==4.5.1
coveralls==1.5.1
docopt==0.6.2
Flask==1.0.2
Flask-Cors==3.0.6
Flask-JWT==0.3.2
Flask-JWT-Extended==3.13.0
flask-pytest==0.0.5
Flask-RESTful==0.3.6
gunicorn==19.9.0
idna==2.7
itsdangerous==0.24
Jinja2==2.11.3
MarkupSafe==1.0
more-itertools==4.3.0
pluggy==0.7.1
psycopg2-binary==2.7.5
py==1.10.0
py==1.6.0
PyJWT==1.5.1
pytest==3.8.1
pytest-cov==2.6.0
pytz==2018.5
requests==2.20.0
six==1.11.0
urllib3==1.25.9
urllib3==1.23
Werkzeug==0.15.3